.network_buttons button {
  background-color: gray;
  border: black;
  border-radius: 10px
}

.network_buttons button:hover {
  background-color: violet;
}

.wifi-selected {
  background-color: orange;
  border: 1px solid yellow;
}

.wifi-not-selected {
  background-color: gray;
  border: 1px solid black;
}

.network_buttons {
  background-color: gray;
  border: 2px solid black;
  border-radius: 2px;
}


// new:

.icon {
    // font-size: 1.5em;
    padding: 0.5em;
}

.selector-button {
  padding: 1em;
  font-size: 2em;
}

.selector-button:hover {
  background-color: #2A2D2E;
}

.netw-menu {
    background-color: #1F1F1F;
    border-radius: 10px;
    font-family: '0xProto Nerd Font Mono', Phosphor;
}

.netw-button {
    background-color: #181818;
    color: #B4B4B4;
    font-style: normal;
    min-height: 30px;
    // border-radius: 5px;
}

.netw-button:hover {
    background-color: #2A2D2E;
}

.netw-button-selected {
    background-color: #04395E;
    color: #B4B4B4;
    font-style: normal;
    border: 1px solid #0078D4;
}

.netw-label-emptybox {
    color: lightgray;
    font-style: italic;
}

